div.imgage{
	float: left;
}
div.desc{
	margin-left:80px;
	
}
div.imgage img {
	display: inline;
	margin: 3px;
	border: 1px solid #bebebe;
	width: 200px;
	height: 160px;
	opacity: 0.5;
}
div.imgage img:hover{
	opacity: 1;
	border: 1px solid #333333;
}
div .imgage a:hover img
{
	border: 1px solid #333333;
	
}